# This is a basic workflow to help you get started with Actions

name: Notebook2REST

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
    paths:
      - '**/*.ipynb'
      - '**/*.naavrewf'
  pull_request:
    branches: [ "main" ]
    paths:
      - '**/*.ipynb'
      - '**/*.naavrewf'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"

  # NOTE: THIS JOB IS A SAMPLE OF HOW WE CAN DO IT LATER
  notebook2rest-setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout notebook repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Clone notebook2rest tool
        run: |
          git clone https://github.com/Apipilikas/notebook2rest
          cd notebook2rest
          pip install -e .

      #TODO: steps here to use the notebook2rest on the notebooks

      # - name: Run notebook2rest
      #   run: |
      #     notebook2rest notebooks/example.ipynb --out app/


  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
